
<div class="pagina">
    <div class="imagen">
        <img alt="imagen-registro" src="../../../../assets/images/register.png">
    </div>

    <div class="form">
        <div class="form-box">
            <h1 hidden>Registro</h1>
            <h1 class="titulo">Registro</h1>
            <span class="subtitulo">Complete el formulario para registrarse </span>

            <form [formGroup]="form" class="form-box" (ngSubmit)="submit()" [autocomplete]="false">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre completo</mat-label>
                    <label for="nombre" hidden>Nombre</label>
                    <input id="nombre" name="nombre" formControlName="nombre" matInput required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <label for="email" hidden>Email</label>
                    <input name="email" id="email" formControlName="email" matInput required>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <label for="password" hidden>Contraseña</label>
                    <input name="password" id="password" formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                        <mat-icon alt="icono-password">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirmar contraseña</mat-label>
                    <label for="confirm-password" hidden>Confirmar contraseña</label>
                    <input name="confirm-password" id="confirm-password" formControlName="confirmarPassword" matInput [type]="hideConfirmPassword ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
                        <mat-icon alt="icono-password">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Rol</mat-label>
                    <label for="rol" hidden>Rol</label>
                    <mat-select title="rol" id="rol" name="rol" formControlName="rol">
                        <mat-option [value]=1>Jefe de Cátedra</mat-option>
                        <mat-option [value]=2>Responsable Administrativo</mat-option>
                        <mat-option [value]=3>Usuario</mat-option>
                    </mat-select>
                </mat-form-field>

                <button class="submit-button" type="submit">
                    Registrarse
                </button>

                <div class="link">
                    <span class="label">¿Ya tienes cuenta?</span>
                    <a class="ingresar" routerLink="/auth/login">Ingresar</a>
                </div>
            </form> 
        </div>
    </div>
</div>
