.pagina{
    display: flex;
    flex-direction: row;

    .contenido{
        display: flex;
        flex-direction: column;
        width: 100%;

        .titulo{
            margin-left: 50px;
            font-weight: 400;
            font-size: 40px;
            line-height: 118.9%;
            color: #666666;
            margin-top: 50px;
            margin-bottom: 45px;
        }

        mat-divider{
            border-top-color: rgba(166, 170, 199, 0.5);
        }

        .container-filtros{
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 50px;
            height: 113px;

            .titulo-filtros {
                display: flex;
                gap: 10px;

                span{
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                }
    
                mat-icon{
                    font-weight: 600;
                    height: 15px;
                }
            }

            form{
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                gap: 40px;
                align-items: center;

                ::ng-deep .mat-form-field-wrapper{
                    padding: 0;
                }

                .filtrar-button{
                    width: 100px;
                    height: 40px;
                    background: linear-gradient(180deg, #1C819F 0%, #00CA48 100%);
                    border-radius: 8px;
                    border: 0;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 140%;
                    color: white;
                    text-align: center;
                    cursor: pointer;
                }

                .limpiar-button{
                    width: 100px;
                    height: 40px;
                    border: 0;
                    background: #1C819F;
                    border-radius: 8px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 140%;
                    color: white;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }

        table{
            width: 100%;

            th{
                font-weight: 600;
                font-size: 16.48px;
                line-height: 118.9%;
            }

            td{
                font-weight: 400;
                font-size: 16px;
                line-height: 118.9%;

                .button-habilitar{
                    width: 80px;
                    height: 30px;
                    background: #0A3066;
                    border-radius: 8px;
                    border: 0;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 140%;
                    text-align: center;
                    color: #FFFFFF;
                    cursor: pointer;
                }

                .button-deshabilitar{
                    width: 80px;
                    height: 30px;
                    background: #660A36;
                    border: 0;
                    border-radius: 8px;
                    font-weight: 700;
                    font-size: 9px;
                    line-height: 140%;
                    text-align: center;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }

            tr:nth-of-type(even){
                background:#F5F7F7;
            }
        }
    }
}