<div class="pagina">
    <app-menu></app-menu>

    <div class="contenido">
        <span class="titulo">Nueva Vacante</span>

        <mat-divider></mat-divider>

        <form [formGroup]="form" class="form-box" (ngSubmit)="submit()" [autocomplete]="false">
            <mat-form-field appearance="outline">
                <mat-label>Cátedra</mat-label>
                <input formControlName="catedra" matInput required> 
            </mat-form-field>

            <mat-form-field appearance="outline" class="date-picker">
                <mat-label>Fecha de finalización</mat-label> 
                <input matInput required formControlName="fecha" [min]="minDate" [matDatepicker]="datepicker" readonly (dateChange)="seleccionFecha($event)">
                <mat-datepicker-toggle matSuffix [for]="datepicker" #matDatePickerBoton></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancelar</button>
                        <button mat-raised-button matDatepickerApply style="background: #1F193D; color: white">Aplicar</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="textarea">
                <mat-label>Descripción</mat-label>
                <textarea matInput formControlName="descripcion" required maxlength="250"></textarea>
            </mat-form-field>

            <button class="submit-button" type="submit">
                Cargar
            </button>

            <button class="volver-button" type="button" (click)="volver()">
                Cancelar
            </button>

        </form>
    </div>
</div>


