<div class="pagina">
    <div class="imagen">
        <img alt="imagen-login" src="../../../../assets/images/login.png">
    </div>

    <div class="form">
        <div class="form-box">
            <h1 class="titulo">Ingresar</h1>
            <span class="subtitulo">Escriba su mail y contraseña para ingresar</span>

            <form [formGroup]="form" class="form-box" (ngSubmit)="submit()" [autocomplete]="false">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <label for="email" hidden>Email</label>
                    <input name="email" id="email" formControlName="email" matInput required>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <label for="password" hidden>Contraseña</label>
                    <input name="password" id="password" formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                        <mat-icon alt="icono-password">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <button class="submit-button" type="submit">
                    Ingresar
                </button>

                <div class="link">
                    <span class="label">¿No tienes cuenta?</span>
                    <a class="registrate" routerLink="/auth/register">Registrate</a>
                </div>

                <button class="volver-button" type="button" (click)="volver()">
                    Volver
                </button>
            </form> 
        </div>
    </div>
</div>

