<div class="container">

    <form [formGroup]="form" class="form" (ngSubmit)="submit()" [autocomplete]="false">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <div class="link">
            <a routerLink="/auth/register">¿No tienes cuenta? Registrese</a>
        </div>

        <button class="submit-button" color="primary" mat-raised-button  type="submit">
            INGRESAR
            <mat-icon>arrow_circle_right</mat-icon> 
        </button>

    </form>  

</div>