<div class="pagina">
    <app-menu></app-menu>

    <div class="contenido">
        <h1 class="titulo">Mi cuenta</h1>

        <mat-divider></mat-divider>
    
            <form [formGroup]="form" class="form-box" (ngSubmit)="submit()" [autocomplete]="false">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre completo</mat-label>
                    <label for="nombre" hidden>Nombre completo</label>
                    <input id="nombre" name="nombre" formControlName="nombre" matInput readonly> 
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <label for="email" hidden>Email</label>
                    <input id="email" name="email" formControlName="email" matInput readonly>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Nueva contraseña</mat-label>
                    <label for="nueva-password" hidden>Nueva contraseña</label>
                    <input id="nueva-password" name="nueva-password" formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                        <mat-icon alt="icono-password">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirmar nueva contraseña</mat-label>
                    <label for="confirmar-nueva-password" hidden>Confirmar nueva contraseña</label>
                    <input id="confirmar-nueva-password" name="confirmar-nueva-password" formControlName="confirmarPassword" matInput [type]="hideConfirmPassword ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
                        <mat-icon alt="icono-password">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Rol</mat-label>
                    <label for="rol" hidden>Rol</label>
                    <input id="rol" name="rol" formControlName="rol" matInput readonly>
                </mat-form-field>

                <button class="submit-button" type="submit">
                    Guardar Cambios
                </button>

                <button class="volver-button" type="button" (click)="volver()">
                    Volver
                </button>

            </form> 
    
    </div>
</div>


