<div class="pagina">
    <app-menu></app-menu>

    <div class="contenido">
        <span class="titulo">Mi cuenta</span>

        <mat-divider></mat-divider>
    
            <form [formGroup]="form" class="form-box" (ngSubmit)="submit()" [autocomplete]="false">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre completo</mat-label>
                    <input formControlName="nombre" matInput readonly> 
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput readonly>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Nueva contraseña</mat-label>
                    <input formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirmar nueva contraseña</mat-label>
                    <input formControlName="confirmarPassword" matInput [type]="hideConfirmPassword ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Rol</mat-label>
                    <input formControlName="rol" matInput readonly>
                </mat-form-field>

                <button class="submit-button" type="submit">
                    Guardar Cambios
                </button>

            </form> 
    
    </div>
</div>


