<div class="container">
    <img alt="logo-utn" src="../../../../assets/images/logo.png">

    <mat-divider></mat-divider>

    <div *ngIf="rol!=0">
        <div class="usuario">
            <div class="logo">
                <button mat-fab>
                  {{nombre.substr(0,1).toUpperCase()}}
                </button>
            </div>
            <span class="nombre">{{nombre}}</span>
            <span class="rol">{{rolDescripcion}}</span>
        </div>
    
        <mat-divider></mat-divider>

        <div class="accesos">
            <a class="acceso" routerLink="/">
                <mat-icon alt="icono-ver-vacantes">list</mat-icon>
                <span>Ver Vacantes</span>
            </a>

            <a class="acceso" *ngIf="rol==2" routerLink="/crear">
                <mat-icon alt="icono-nueva-vacante">add</mat-icon>
                <span>Nueva Vacante</span>
            </a>

            <a class="acceso" *ngIf="rol==2" routerLink="/usuarios">
                <mat-icon alt="icono-gestionar-usuarios">supervised_user_circle</mat-icon>
                <span>Gestionar Usuarios</span>
            </a>

            <a class="acceso" *ngIf="rol==3" routerLink="/mis-postulaciones">
                <mat-icon alt="mis-postulaciones">perm_contact_calendar</mat-icon>
                <span>Mis Postulaciones</span>
            </a>

            <a class="acceso" routerLink="/usuarios/editar">
                <mat-icon alt="icono-mi-cuenta">account_circle</mat-icon>
                <span>Mi Cuenta</span>
            </a>

            <a class="acceso" (click)="logout()">
                <mat-icon alt="icono-cerrar-sesion">exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </a>
        </div>
    </div>

    <div *ngIf="rol==0" class="usuario-deslogueado">
        <button class="login-registro" type="submit" routerLink="/auth/login">
            Iniciar sesión
        </button>
        <button class="login-registro" type="submit" routerLink="/auth/register">
            Registro
        </button>
    </div>

    
</div>
